<% LaterOnJob.perform_later("This is a background job") %>

<script type="text/javascript">
  var cabel = ActionCable.createConsumer("ws://localhost:3000/cable")
  cabel.subscriptions.create("LaterOnChannel", {
    connected: function() {
      console.info("connected");
    },
    received: function(data) {
      console.info("received", data);
      $(".data").replaceWith(data.data);
    }
  });
</script>

<h1>Waiting for data</h1>
<div class="data"></div>